<h3>Transform Query Results</h3>
{{cedar-chart
  type=model.type
  datasets=model.datasets
  series=model.series
  overrides=model.overrides
  transform=(action 'transform')
}}
<p>Based on <a href="http://esri.github.io/cedar/examples/transform.html">this Cedar example</a>.</p>
