<form {{action "renderJSON" type on="submit"}}>
  <div class="form-group">
    <label>Input chart JSON</label>
    {{textarea class="form-control render-json-field" placeholder="New JSON" value=jsonString}}
  </div>
  <button type="submit" class="btn btn-primary btn-sm">Render</button>
</form>
