<div class="row">
  <div class="col-md-12 col-lg-8">
    {{cedar-chart type=model.type dataset=model.dataset}}
  </div>
  <div class="col-md-12 col-lg-4">
    {{charts-playground model=model}}
  </div>
</div>
